/*************************************/
/* ANIMALS PAGE */
/*************************************/

/* IMPORTANT!!!

De la 1660px in jos, trebuie sa faci un breakpoint pentru a face responsive pagina.
  
*/

/*
--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

Line heights:
Default: 1
Small: 1.05
Paragraph default: 1.6

--- 02 COLORS

Primary color: #1F8A70
Tints: #e9f3f1
Shades: #196e5a
Accents: #fd9d4d
Greys: #555, #333, #242424

--- 05 SHADOWS

--- 06 BORDER-RADIUS

Default: 9px

--- 07 WHITESPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*************************************/
/* GENERAL REUSABLE COMPONENTS */
/*************************************/

.container {
  max-width: 175rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}

.grid--card-view {
  grid-template-columns: auto 1fr;
  gap: 4.8rem;
}

.hidden {
  display: none;
}

.dropdown {
  list-style: none;
  position: absolute;
  visibility: hidden;
  background-color: #e9f3f1;
  padding-left: 0;
  left: 0;
  display: none;
}

.main-nav-list li:hover > .dropdown,
.main-nav-list li .dropdown:hover {
  visibility: visible;
  display: block;
  opacity: 1;
  text-align: left;
  width: 12rem;
  padding-top: 2rem;
  box-shadow: 0px 3px 5px -1px #ccc;
}

.dropdown li {
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.tertiary-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  color: #fd9d4d;
}

.secondary-heading {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
  color: #242424;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 3rem;
  padding: 1.2rem 2.4rem;
  width: 20rem;
  text-align: center;

  transition: all 0.3s;

  background-color: #1f8a70;
  color: #fff;
}

.btn:hover,
.btn:active {
  background-color: #196e5a;
}

/*************************************/
/* HEADER */
/*************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9f3f1;

  height: 8rem;
  padding: 0 9.6rem;
}

.logo {
  height: 3.2rem;
  width: 3.2rem;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.search-bar {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;

  padding: 0.4rem 0.8rem;
  border: 2px solid #555;
  border-radius: 30px;
}

/*************************************/
/* NAVIGATION */
/*************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-list li {
  position: relative;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #196e5a;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  border-radius: 30px;
  color: #fff;
  background-color: #1f8a70;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #196e5a;
}

.language-icon {
  height: 3.2rem;
  width: 3.2rem;
}

/*************************************/
/* CATEGORIES SECTION */
/*************************************/

.list-section {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #eceff1;
}

.categories-bar {
  align-self: self-start;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  background-color: #fff;
  border-radius: 15px;
  padding: 1.6rem;
}

.categories-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: left;
}

.categories-nav-link:link,
.categories-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.categories-nav-link:hover,
.categories-nav-link:active {
  color: #196e5a;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0.4rem;
  gap: 0.8rem;
}

.categ-name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.drop-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #1f8a70;
}

.hidden-box {
  grid-column: 1;
  display: none;
}

.hidden-box ul {
  list-style: none;
  color: #555;
  font-size: 1.4rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hidden-box ul li:hover {
  color: #196e5a;
  cursor: pointer;
}

.open {
  border-top: 2px solid #1f8a70;
}

.open .hidden-box {
  display: block;
}

.hidden-box ul li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/*************************************/
/* CHECKBOX SECTION */
/*************************************/

/* Customize the label (the container) */
.container-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #ccc;
  border: solid #196e5a 1px;
  border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #196e5a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 0.4rem;
  top: 0.1rem;
  width: 0.4rem;
  height: 0.8rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/*************************************/
/* CARD SECTION */
/*************************************/

.elements-container {
  align-self: self-start;
}

.animal-card {
  position: relative;
  /* align-self: self-start; */
  background-color: #fff;
  max-height: 23rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07); */
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.animal-card:hover {
  transform: scale(1.05);
}

.favorites {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 3.6rem;
  height: 3.6rem;
  flex-shrink: 0;
}

.favorites:hover {
  cursor: pointer;
  fill: #eb455f;
  stroke: #eb455f;
}

.animal-img {
  max-height: 23rem;
  border-radius: 15px 0 0 15px;
}

.card-text {
  padding: 2.4rem;
}

.card-description {
  list-style: none;
  color: #333;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.card-description li {
  margin-bottom: 1.2rem;
}

.card-description li:last-child {
  margin-bottom: 0;
}

/*************************************/
/* PAGINATION */
/*************************************/

.pagination {
  grid-column: 1 / -1;
  justify-self: center;
  align-self: self-start;

  display: flex;
  align-items: center;
  gap: 12px;
}

.btn--pagination {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #1f8a70;
  background: none;
  cursor: pointer;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #1f8a70;
}

.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover,
.page-link:active {
  /* border: 1px solid #087f5b; */
  background-color: #1f8a70;
  color: #fff;
}

.dots {
  color: #333;
}

.btn--pagination:hover {
  background-color: #1f8a70;
}

.btn--pagination:hover .btn-icon {
  stroke: #fff;
}

.page-link.page-link--active {
  background-color: #1f8a70;
  color: #fff;
}
